node_modules/
dist/
build/
.env
*.log
.DS_Store
*.apk
*.zip
*.nupkg
*.exe
releases/
bin/
android/
archive/
FINAL_ELITE_BACKUP/
FULL_SYSTEM_SNAPSHOT_v8.2.3/
ROOT_FS_BACKUP_v8.2.3/
BACKUP_v8.2.3_FINAL/
.vscode/
.firebase/
